<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="static/register/base.css">
    <link rel="stylesheet" href="static/register/iconfont.css">
    <link rel="stylesheet" href="static/reg.css">
</head>
<body>
    <div id="ajax-hook"></div>
    <div class="wrap">
        <div class="wpn">
            <div class="form-data pos">
                <a href=""><img src="static/register/logo.png" class="head-logo"></a>
                <!--<p class="tel-warn hide"><i class="icon-warn"></i></p>-->
                <form action = "http://192.168.10.4:30000/" method="POST">
                    <p class="p-input pos">
                        <label for="tel">用户名</label>
                        <input type="number" id="tel" autocomplete="off" name="user_name">
                    </p>
                    <p class="p-input pos" id="pwd">
                        <label for="passport">输入密码</label>
                        <input type="password" style="display: none"/>
                        <input type="password" id="passport" name="password">
                    </p>
                    <p class="p-input pos" id="confirmpwd">
                        <label for="passport2">确认密码</label>
                        <input type="password" style="position:absolute;top:-998px"/>
                        <input type="password" id="passport2" name="password2">
                    </p>

                <div class="reg_checkboxline pos">
                    <span class="z"><i class="icon-ok-sign boxcol" nullmsg="请同意!"></i></span>
                    <input type="hidden" name="agree" value="1">
                    <div class="Validform_checktip"></div>
                    <p>我已阅读并接受 <a href="#" target="_brack">《304协议说明》</a></p>
                </div>

                    <button class="lang-btn">注册</button>
                </form>
                <div class="bottom-info">已有账号，<a href="http://192.168.10.4:30000/">马上登录</a></div>
                <div class="third-party">
                    <a href="#" class="log-qq icon-qq-round"></a>
                    <a href="#" class="log-qq icon-weixin"></a>
                    <a href="#" class="log-qq icon-sina1"></a>
                </div>
                <p class="right">Chongqing University of Technology © 2021</p>
            </div>
        </div>
    </div>
    <script src="static/register/jquery.js"></script>
    <script src="static/register/agree.js"></script>
<!--    <script src="static/register/reg.js"></script>-->

</body>
</html>